* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: 18px;
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
    /* margin: 0 auto; */
    color: white;
    position: relative;
    padding-bottom: 1em;
}

/* main {
} */

header {
    background-color: var(--Dark-blue);
    width: 87%;
    margin: 4.5em auto 1em auto;
    border-radius: 10px;
}

.user {
    background-color: var(--Blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7em;
    position: relative;
}

.portrait {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: solid 2px;
    /* margin-right: 1.2em; */
    position: relative;
    right: 4%;
}

.user-text {
    /* padding-right: 0.1em; */
    /* margin-left: -1em; */
}

.user-subt {
    font-weight: 300;
    font-size: 0.8em;
    opacity: 0.5;
}

.user-title {
    font-weight: 200;
    font-size: 1.3em;
}

.timeframes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.3em 0;
    color: var(--Pale-Blue);
}

.tf {
    opacity: 0.5;
}

.container {
    margin: auto;
    width: 87%;
    padding-top: 2.1em;
    border-radius: 15px;
    margin-top: 1.45em;
    /* padding-bottom: 4em; */
}

.work {
    background-color: var(--Light-red-work);
    background-image: url("images/icon-work.svg");
    background-repeat: no-repeat;
    background-position: 97% -7%;
    /* border-radius: 15px; */
}

.play {
    background-color: var(--Soft-blue-play);
    background-image: url("images/icon-play.svg");
    background-repeat: no-repeat;
    background-position: 97% -7%;
}

.study {
    background-color: var(--Light-red-study);
    background-image: url(images/icon-study.svg);
    background-repeat: no-repeat;
    background-position: 97% -7%;
}
.exercise {
    background-color: var(--Lime-green-exercise);
    background-image: url(images/icon-exercise.svg);
    background-repeat: no-repeat;
    background-position: 97% -7%;
}
.social {
    background-color: var(--Violet-social);
    background-image: url(images/icon-social.svg);
    background-repeat: no-repeat;
    background-position: 97% -7%;
}
.self-care {
    background-color: var(--Soft-orange-self-care);
    background-image: url(images/icon-self-care.svg);
    background-repeat: no-repeat;
    background-position: 97% -7%;
}

section {
    background-color: var(--Dark-blue);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding-bottom: 4em; */
    /* margin: auto; */
    height: 6.8em;
}

.current {
    /* display: flex; */
    /* margin: auto; */
    position: relative;
}

h5 {
    position: relative;
    bottom: 0.5em;
    /* right: 10%; */
    font-size: 0.9em;
}

.daily {
    display: none;
}

.weekly {
    display: block;
}

.monthly {
    display: none;
}

.past {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: end; */
}

.time {
    font-weight: 300;
}

.prev {
    font-size: 0.8em;
    position: relative;
    left: 7%;
    color: var(--Pale-Blue);
    /* opacity: 0.7; */
}

/*Yesterday */
.day {
    display: none;
}
/* last week */
.week {
    display: block;
}
/* last month */
.month {
    display: none;
}

.ellipsis {
    position: relative;
    bottom: 1em;
    left: 90%;
    /* height: 0.5em; */
    /* width: 0.5em; */
}

.attribution { 
    font-size: 0.6em; 
    text-align: center;
    position: absolute; 
    bottom: 0;
    right: 0;
    left: 0;
}

.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 700px) {

    main {
        display: grid;
        grid-template-columns: 14.2em repeat(3, 14.5em);
        grid-template-rows: repeat(2, 13.5em);
        /* align-items: center; */
        /* justify-content: center; */
        place-content: center;
        place-items: center;
        min-height: 100vh;
        grid-template-areas:
        "header work play study"
        "header exercise social self-care";
        gap: 1.5em;
    }

    header {
        width: 100%;
        margin: 0;
        grid-area: header;
        height: 100%;
    }

    .user {
        display: block;
        padding: 6em 1em 2.5em 2.5em;
    }

    .portrait {
        width: 4.5em;
        height: 4.5em;
        right: 4%;
        bottom: 70px;
    }

    .user-subt {
        position: relative;
        bottom: 2.4em;
        right: 0.4em;
    }

    .user-title {
        font-weight: 200;
        font-size: 2.3em;
        position: relative;
        bottom: 0.8em;
        right: 0.2em;
    }

    .timeframes {
        display: block;
        padding: 1.3em 8em 1.3em 2em;
        text-align: left;
    }

    .tf:hover {
        color: white;
        opacity: 1;
        cursor: pointer;
    }

    #weekly {
        padding: 1.2em 0;
    }

    .container {
        margin: 0;
        width: 100%;
        height: 100%;
        padding-top: 2.5em;
    }

    .container:hover {
        cursor: pointer;
        /* opacity: 0.5; */
    }

    section {
        display: block;
        height: 100%;
    }

    section:hover {
        background-color: hsl(238, 31%, 37%);
    }

    .current {
        /* position: relative; */
    }

    h5 {
        top: 1.8em;
        left: 14%;
    }

    .time {
        position: relative;
        top: 1em;
        left: 13%;
        font-size: 3em;
        /* font-weight: 100; */
    }

    .prev {
        left: 14%;
        top: 2.8em;
    }

    .ellipsis {
        bottom: 3.3em;
        left: 80%;
        /* height: 0.5em; */
        /* width: 0.5em; */
    }

    .ellipsis:hover {
        fill: "white";
    }
}