* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: 18px;
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
    /* margin: 0 auto; */
}

/* main {
} */

header {
    background-color: var(--Dark-blue);
    width: 87%;
    margin: 4.5em auto 1em auto;
    border-radius: 10px;
}

.user {
    background-color: var(--Blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7em;
    position: relative;
}

.portrait {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: solid 2px;
    /* margin-right: 1.2em; */
    position: relative;
    right: 4%;
}

.user-text {
    /* padding-right: 0.1em; */
    /* margin-left: -1em; */
}

.user-subt {
    font-weight: 300;
    font-size: 0.8em;
    opacity: 0.5;
}

.user-title {
    font-weight: 200;
    font-size: 1.3em;
}

.timeframes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.3em 0;
}

.container {
    margin: auto;
    width: 87%;
    padding-top: 2em;
}

.work {
    background-color: var(--Light-red-work);
}

section {
    background-color: var(--Dark-blue);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }