* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    font-size: 18px;
    background-color: var(--Very-dark-blue);
    font-family: Rubik, sans-serif;
    /* margin: 0 auto; */
}

/* main {
} */

header {
    background-color: var(--Dark-blue);
    width: 90%;
    margin: 4.5em auto 1em auto;
    border-radius: 10px;
}

.user {
    background-color: var(--Blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: solid 2px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }